

#navBar{
    margin-left: 40rem;
    display: flex;
    
}
#navbarNavAltMarkup{
    margin-left: 17rem;
}
.bg-offer{
    background-color: #feffdb;
}
.box{
    width: 300px;
}
.footer-text{
    font-size: 14px;
    color: rgb(71, 71, 71);
    margin-bottom: 0;
}
/* .dropdown-menu{
    opacity: 0;
} */
.dropdown:hover .dropdown-menu{
    display: block;
}